<h3>Users List</h3>

<table>
	<% @users.in_groups_of(3, false) do |row_users| %>
	  <tr>
			<% for user in row_users %>
		  	<td><%= link_to user.full_name, user_path(user) %></td>
			<% end %>
	  </tr>
  <% end %>
</table>