<h1>Profile</h1>
<p>
	Name:
	<%= @user.full_name %>
</P>
<%= link_to 'Users List', users_path %>

<% admin_area do %>
	<%= link_to 'Delete User', user_path(@user), method: :delete, confirm: "Click OK to delete current user" %>
<% end %>